<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorator="Layout">

<head>
<meta charset="utf-8" />
<title>Erreur</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>

<body>
	<div th:replace="Layout :: header"></div>
	<div class="container">
		<div class="centered_element">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Error</div>
					<div class="panel-body">
						<div class="red">Vous n'êtes pas autorisé à accéder à cette
							ressource</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="Layout :: footer"></div>
</body>
</html>