<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">

<head>
<meta charset="utf-8" />
<title>Confirmation</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>

<body>
	<div th:replace="Layout :: header"></div>
	<div class="centered_element">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Confirmation</div>
				<div class="panel-body">
					<form th:action="@{save}" method="post">
						<div class="form-group">
							<label>Id:</label> <label th:name="id" th:text="${produit.id}"></label>
						</div>
						<div class="form-group">
							<label>Désignation:</label> <label th:name="designation"
								th:text="${produit.designation}"></label>
						</div>
						<div class="form-group">
							<label>Prix:</label> <label th:name="prix"
								th:text="${produit.prix}"></label>
						</div>
						<div class="form-group">
							<label>Quantité:</label> <label th:name="quantite"
								th:text="${produit.quantite}"></label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="Layout :: footer"></div>
</body>
</html>