<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorator="Layout">

<head>
<meta charset="utf-8" />
<title>Edit produit</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>

<body>
	<div th:replace="layout :: header"></div>
	<div class="centered_element">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Edit d'un produit</div>
				<div class="panel-body">
					<form th:action="@{save}" method="post">
						<div class="form-group">
							<label>Id</label> <label th:text="${produit.id}"></label>
						</div>
						<div class="form-group">
							<label>Désignation:</label> <input type="text" name="designation"
								class="form-control" th:value="${produit.designation}" /> <span
								class="red" th:errors="${produit.designation}"></span>
						</div>
						<div class="form-group">
							<label>Prix</label> <input type="text" name="prix"
								class="form-control" th:value="${produit.prix}" /> <span
								class="red" th:errors="${produit.prix}"></span>
						</div>
						<div class="form-group">
							<label>Quantité</label> <input type="text" name="quantite"
								class="form-control" th:value="${produit.quantite}" /> <span
								class="red" th:errors="${produit.quantite}"></span>
						</div>
						<div>
							<button type="submit" class="btn btn-primary center-block">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div th:replace="Layout :: footer"></div>
</body>
</html>