<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">

<head>
<meta charset="utf-8" />
<title>Produits</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>

<body>
	<div th:replace="layout :: header"></div>
	<div class="centered_element">
		<form th:action="@{index}" method="get">
			<label>Mot clé</label> <input type="text" name="motCle"
				th:value="${motCle}" />
			<button class="btn btn-primary">Chercher</button>
		</form>
	</div>
	<div class="container">
		<h3>Liste des produits</h3>
	</div>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Désignation</th>
					<th>Prix</th>
					<th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p:${listProduits}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.designation}"></td>
					<td th:text="${p.prix}"></td>
					<td th:text="${p.quantite}"></td>
					<td><a th:href="@{edit(id=${p.id})}">Edit</a></td>
					<td><a onclick="return confirm('Etes vous sûre?')"
						th:href="@{delete(id=${p.id}, page=${pageCourante} ,size=${size} ,motCle=${motCle})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="centered_element">
		<ul class="nav nav-pills">
			<li th:each="pa,status:${pages}"
				th:class="${pageCourante}==${status.index}? 'active' : ''"><a
				th:href="@{index(page=${status.index}, size=${size}, motCle=${motCle})}"
				th:text="${status.index}"></a></li>
		</ul>
	</div>
	<div th:replace="layout :: footer"></div>
</body>
</html>