<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
<meta charset="utf-8" />
<title>Layout</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
</head>

<body>
	<div th:fragment="header">
		<div class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Chercher</a></li>
					<li><a th:href="@{/form}">Produit</a></li>
					<li><a th:href="@{/logout}" th:inline="text">Logout
							[[${#httpServletRequest.remoteUser}]]</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div th:fragment="footer">
		<div class="footer-copyright text-center py-3">
			© 2018 Copyright: <a
				href="https://mdbootstrap.com/education/bootstrap/">MDBootstrap.com</a>
		</div>
	</div>

</body>
</html>