<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="template1">
<head>
<meta charset="utf-8" />
<title>Votre banque</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	<div th:replace="template1 :: header"></div>

	<div class="container-fluid">
		<div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Consultation d'un compte</div>
					<div class="panel-body">
						<form th:action="@{/consultercompte}" method="get">
							<label>Code compte:</label> <input type="text" name="codeCompte"
								th:value="${codeCompte}" />
							<button type="submit" class="btn btn-primary">Ok</button>
						</form>
						<div th:if="${exception}">
							<label class="text-danger" th:text="${exception.message}"></label>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Informations sur compte</div>
					<div class="panel-body" th:if="${compte}">
						<div>
							<label>Client:</label> <label th:text="${compte.client.nom}"></label>
						</div>
						<div>
							<label>Solde:</label> <label th:text="${compte.solde}"></label>
						</div>
						<div>
							<label>Date création:</label> <label
								th:text="${compte.dateCreation}"></label>
						</div>
						<div>
							<label>Type:</label> <label th:text="${compte.class.simpleName}"></label>
						</div>
						<div th:if="${compte.class.simpleName}=='CompteCourant'">
							<label>Découvert:</label> <label th:text="${compte.decouvert}"></label>
						</div>
						<div th:if="${compte.class.simpleName}=='CompteEpargne'">
							<label>Taux:</label> <label th:text="${compte.taux}"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="col-md-6" sec:authorize="hasRole('ROLE_ADMIN')">
				<div class="panel panel-primary">
					<div class="panel-heading">Opérations sur le compte</div>
					<div class="panel-body" th:if="${compte}">
						<form th:action="@{/saveOperation}" method="post">
							<div>
								<label>Compte:</label> <input type="hidden" name="codeCompte"
									th:value="${codeCompte}" /> <label th:text="${codeCompte}"></label>
							</div>
							<div>
								<input type="radio" name="typeOperation" value="VERS"
									checked="checked"
									onchange="document.getElementById('forVirement').style.display='none'" />
								<label>Versement</label>
							</div>
							<div>
								<input type="radio" name="typeOperation" value="RETR"
									onchange="document.getElementById('forVirement').style.display='none'" />
								<label>Retrait</label>
							</div>
							<div>
								<input type="radio" name="typeOperation" value="VIR"
									onchange="document.getElementById('forVirement').style.display='block'" />
								<label>Virement</label>
							</div>

							<div id="forVirement" style="display: none">
								<label>Vers:</label> <input type="text" name="codeCompte2">
							</div>

							<div>
								<label>Montant:</label> <input type="text" name="montant">
								<div>
									<label class="text-danger"
										th:text="${#httpServletRequest.getParameter('error')}"></label>
								</div>
							</div>

							<button type="submit" class="btn btn-primary">Save</button>
						</form>
					</div>
				</div>

			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Liste des opérations</div>
					<div class="panel-body" th:if="${compte}">
						<table class="table table-striped">
							<tr>
								<th>Num</th>
								<th>Type</th>
								<th>Date</th>
								<th>Montant</th>
							</tr>
							<tr th:each="o:${listOperations}">
								<td th:text="${o.numero}"></td>
								<td th:text="${o.class.simpleName}"></td>
								<td th:text="${o.dateOperation}"></td>
								<td th:text="${o.montant}"></td>
							</tr>
						</table>
						<div class="container">
							<ul class="nav nav-pills">
								<li th:each="p,status:${pages}"
									th:class="${pageCourante}==${status.index}? 'active' : ''">
									<a th:text="${status.index}"
									th:href="@{/consultercompte(codeCompte=${codeCompte}, page=${status.index})}">
								</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="template1 :: footer"></div>
</body>
</html>